$app-background: #f9f9f9;
$primary: #ff3636;
$text-black: #09090b;
$text-black-light: #71717a;
$text-white: #fafafa;
$app-white: #ffffff;
$blue: #22296d;
$standard-border: #e4e4e7;
$orange: #ff9d0f;
$red: #e41d1d;
$app-black: #000000;
$primary-button-blend: #cc2b2b;
$input-placeholder: #94a3b8;
$upload-file-instructions: #919299;
$option-select-background: #ffd2d2;
